**/build/

**/.vscode/
**/.idea/
**/*.sublime-project
**/*.sublime-workspace

**/.cache/
**/node_modules/
**/.npm/
**/.venv/
**/.env
**/.env.*

**/.DS_Store
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/.Spotlight-V100
**/.Trashes
**/*.swp
**/*.swo
**/*.bak
**/*.tmp
**/*.log